<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
    <li class="breadcrumb-item"><a href="/admin/clubs">Club Management</a></li>
    <li class="breadcrumb-item"><a href="/admin/clubs/" id="nav_club">Club Name</a></li>
    <li class="breadcrumb-item active"  aria-current="page" id="nav_course">Course Name</li>
  </ol>
</nav>

<h1>Course Details</h1>



<form>

    <input type="text" id="course_id" value="{{courseId}}" hidden>
    
    <div class="form-group row">
        <label for="courseName">Course Name</label>
        <input class="form-control" type="text" id="courseName">
    </div>
    <div class="form-group row">
        <label for="clubName">Club Name</label>
        <input class="form-control" type="text" id="clubName">
    </div>

    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Par</th>
          <th>HCP</th>
          <th>Man</th>
          <th>Woman</th>
        </tr>
      </thead>
      <tbody id="holesForm"></tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/javascripts/admin/courseDetails.js"></script>