{{> nav}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Administration</li>
  </ol>
</nav>

<h1>
  <i class="material-icons md-36">settings</i>
  Admin Dashboard
</h1>


<div class="card">
  <div class="card-header">
    <h4>Overview</h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-4">
        <div class="content-box">
          <a href="/admin/users">
            <h2>
              <i class="material-icons md-48">account_circle</i>
              <div id="numUsers">XX</div>
            </h2>
          </a>
          <h4>Users</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content-box">
          <a href="/admin/clubs">
            <h2>
              <i class="material-icons md-48">location_on</i>
              <div id="numClubs">XX</div>
            </h2>
          </a>
          <h4>Clubs</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content-box">
          <h2>
            <i class="material-icons md-48">golf_course</i>
            <div id="numCourses">XX</div>
          </h2>
          <h4>Courses</h4>
        </div>
      </div>
    </div>

  </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/admin.css" rel="stylesheet">

<script src="/javascripts/admin/dashboard.js"></script>