<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="/clubs">Suche</a></li>
  </ol>
</nav>

<div class="container">


<div id="searchbar">
  <form>
    <div class="form-group">
      <label for="search">Club Suche</label>
      <input type="text" class="form-control" id="search" placeholder="Suche nach Club">
      <small id="searchHelp" class="form-text text-muted">Suchen sie nach einem unserer 800 Clubs in Deutschland</small>
    </div>
  </form>
</div>

<div id="result-header"></div>
<div id="result"></div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/search.css" rel="stylesheet">

<script src="/javascripts/search.js"></script>