{{> nav}}

<h1 id="name">Clubname</h1>

<h2 class="label">Adresse</h2>
<div id="address">Adresse</div>

<h2 class="label">Kontaktdaten</h2>
<div id="contact">
    <div id="phone">Telefon</div>
    <div id="email">Email</div>
    <div id="website">Website</div>
</div>


{{!-- <img src="https://source.unsplash.com/xvNeUd5pHvI"> --}}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/details.css" rel="stylesheet">

<script src="/javascripts/details.js"></script>