
{{> nav}}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Das Scores Projekt</h1>
        <p class="lead">
            Behalten Sie den Überblick über Ihre Golf-Scores. Immer!<br>
            Nutzen Sie moderne Analytics Methoden, um Tendenzen Ihres Spiels in Echtzeit zu sehen.
        </p>
        <p><a class="btn btn-lg btn-primary" href="register" role="button">Register for Preview Account</a></p>
    </div>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="images/weather.png" alt="Aktuelles Wetter" width="140" height="140">
            <h2>Aktuelles Wetter</h2>
            <div class="list-group courses"></div>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="images/icon1.png" alt="Übergreifendes Tracking" width="140" height="140">
            <h2>Übergreifendes Tracking</h2>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="images/icon2.png" alt="Tendenz Analsye" width="140" height="140">
            <h2>Tendenz-Analyse</h2>
        </div>
    </div>

</div>
