.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


#result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.content-box {
    background-color: #80808033;
    padding: 10px;
    text-align: center;
}

.buttons {
    text-align: right;
}

.form-group > label {
    font-weight: 700;
}